:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkBlue: #1e3a8a;
  --green: #10b981;
  --orange: #f97316;
  --white: #ffffff;
  --lightGray: #f3f4f6;
  --darkGray: #374151;
  --darkerGray: #1f2937;
}

/*Styling for Hero section*/
.heroSectionWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroSectionContent {
  height: 100%;
  width: 100%;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 80;
}

.heroSectionBG {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  object-fit: cover;
}

.hersectionTextAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #f3f4f6;
}

/*Styling for all sections in Home page*/ /*Personal comment: Not sure if we are using this at all*/

.OverallSectionStyling {
  width: 100%;
  padding: 2rem;
}

/*Styling for WhyUs Section*/

.whyUsTitleAndCardsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  height: 50rem;
}

.whyUsTitleAndSubtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.whyUsCardsWrapper {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 90%;
}

.whyUsFirstCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 55%;
  height: 100%;
}

.whyUsFirstCardImage {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.whyUsFirstCardText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.whyUsSecondAndThirdCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 45%;
}

.whyUsSecondCard {
  display: flex;
  gap: 1rem;
  height: 50%;
}

.whyUsSecondCardImage {
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.whyUsSecondCardText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.whyUsThirdCard {
  display: flex;
  gap: 1rem;
  height: 50%;
}

.whyUsThirdCardImage {
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.whyUsThirdCardText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

/*Styling for How It works section*/

.howItWorksSectionHeaderAndListWrapper {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
}

.howItWorksHeaderAndSubheaderWrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.howitworksListOfItemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.howItworksItemWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.howitWorksItemLink {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/*Styling for About Us section*/

.aboutUsTitleImageAndDescriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aboutUsTitleAndSubtitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.aboutUsImageAndTextWrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.aboutUsImageWrapper {
  width: 60%;
}

.aboutUsImage {
  object-fit: cover;
}

.aboutUsTextAndAutorWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.aboutUsTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1050px) {
  /*Styling for WhyUs Section*/

  .whyUsTitleAndCardsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: auto;
    width: 100%;
  }

  .whyUsTitleAndSubtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .whyUsCardsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 90%;
  }

  .whyUsFirstCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 400px;
  }

  .whyUsFirstCardImage {
    width: 100%;
    object-fit: cover;
  }

  .whyUsFirstCardText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
  }

  .whyUsSecondAndThirdCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .whyUsSecondCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .whyUsSecondCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .whyUsSecondCardText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }

  .whyUsThirdCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .whyUsThirdCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .whyUsThirdCardText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }

  /*Styling for How It works section*/

  .howItWorksSectionHeaderAndListWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
  }

  .howItWorksHeaderAndSubheaderWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  /*Styling for About Us section*/

  .aboutUsTitleImageAndDescriptionWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .aboutUsImageAndTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .aboutUsImageWrapper {
    width: 100%;
  }

  .aboutUsImage {
    object-fit: cover;
    width: 100%;
  }

  .aboutUsTextAndAutorWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .aboutUsTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
