:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkBlue: #1e3a8a;
  --green: #10b981;
  --orange: #f97316;
  --white: #ffffff;
  --lightGray: #f3f4f6;
  --darkGray: #374151;
  --darkerGray: #1f2937;
}

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  z-index: 1000;
}

/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 90rem;
  padding: 0 5%;
  min-height: 50px;
}

.navbar .nav-logo {
  display: flex;
  align-items: center;
}

.navbar .nav-logo img {
  height: 40px;
}

/* Button Styles */

.button {
  border: 1px solid #e5e7eb;
  background-color: var(--darkBlue);
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
  height: 40px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.button:hover {
  background-color: #26c943;
}

.whatsappSVGInButton {
  width: 20px;
  fill: white;
}

/* Desktop Styles */
@media (max-width: 1024px) {
}
